@font-face {
    font-family: "CourierPrime-Bold";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url("fonts/CourierPrime-Bold.ttf") format('truetype');
}
@font-face {
    font-family: "CourierPrime-Regular";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url("fonts/CourierPrime-Regular.ttf") format('truetype');
}
@font-face {
    font-family: "Helvetica-Bold";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url("fonts/Helvetica-Bold.ttf") format('truetype');
}
@font-face {
    font-family: "Helvetica";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url("fonts/Helvetica.ttf") format('truetype');
}
@font-face {
    font-family: "SpecialElite-Regular";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url("fonts/SpecialElite-Regular.ttf") format('truetype');
}