#hoja-container{
    position: absolute;
    width: 30%;
    width: calc(50% - (241px + 40px));
    width: -moz-calc(50% - (241px + 40px));
    left: 20px;
    height: 92%;
    bottom: 4%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
.hoja-estampada{
    animation: animacion-hoja-estampada 0.15s 0.15s 1 forwards;
}
@keyframes animacion-hoja-estampada {
    0%{
        transform: scale(1);
        animation-timing-function: ease-out;
    }
    50%{
        transform: scale(0.98);
        animation-timing-function: ease-in;
    }
    100%{
        transform: scale(1);
    }
}

#hoja-limpia,
#hoja-principal{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    top: 0px;
    left: 0px;
    background-color: #ffffff;
    overflow: hidden;
}

.hoja-wrapper{
    position: relative;
    width: 100%;
    height: auto;
    padding-right: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #666666 #FFFFFF;
}
                
.hoja-titulo{
    width: 100%;
    padding: 5px 0px 10px 0px;
    border-bottom: #E20613 solid 1px;

    font-family: 'SpecialElite-Regular';
    font-size: 23px;
    color: #000000;
    text-align: right;
    text-transform: uppercase;
}
.hoja-col{
    position: relative;
    width: 100%;
    height: auto;
    margin: 17px 0px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.hoja-row{
    width: 50%;
}

.hoja-col .hoja-row:first-child{
    padding-right: 7.5px;
}
.hoja-col .hoja-row:last-child{
    padding-left: 7.5px;
}
.hoja-row-20{
    width: 25%;
}
.hoja-row-80{
    width: 75%;
}
.hoja-row-20 img{
    display: block;
    width: 100%;
    height: auto;
    max-height: 100px;
    object-fit: cover;
    object-position: center top;
}

.label,
.input,
.input2{
    position: relative;
    width: 100%;
    font-size: 16px;
    color: #000000;
}
.label{
    font-family: 'Helvetica';
    font-size: 13px;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.input,
.input2{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: #000000 dashed 1px;
}
.input{
    font-family: 'SpecialElite-Regular';
    text-transform: uppercase;
}
.input2{
    font-family: 'CourierPrime-Regular';
}

.hoja-detalles,
.hoja-validacion{
    position: relative;
    width: 100%;
    border-radius: 8px;
    padding: 0px 15px 0px 15px;
}
.hoja-detalles{
    border: #CCCCCC solid 1px;
    background-color: #F5EED2;
    margin-bottom: 25px;
}
.hoja-validacion{
    border: #CCCCCC solid 1px;
    background-color: #FAFAFA;
}
.hoja-detalles > h1,
.hoja-validacion > h1{
    position: relative;
    display: inline-block;
    padding: 5px;
    background-color: #ffffff;
    font-family: 'SpecialElite-Regular';
    font-size: 15px;
    color: #666666;
    text-align: left;
    text-transform: uppercase;
    transform: translateY(-50%);
}
.hoja-detalles .label{
    color: #666666;
}
.hoja-detalles .input{
    color: #B91C1C;
}

.hoja-estampa-1,
.hoja-estampa-2{
    position: relative;
    display: block;
    width: 100%;
    height: 130px;
    border: #B3B3B3 dashed 2px;
    padding: 10px;
    cursor: crosshair;
}
.hoja-estampa-1-active{
    animation: animacion-hoja-estampa-1 0.8s infinite;
}
@keyframes animacion-hoja-estampa-1 {
    0%,100%{
        box-shadow: 0px 0px 0px 0px rgba(0,129,200,0);
    }
    50%{
        box-shadow: 0px 0px 20px 0px rgba(0,129,200,0.75);
    }
}
.hoja-estampa-2-active{
    animation: animacion-hoja-estampa-2 0.8s infinite;
}
@keyframes animacion-hoja-estampa-2 {
    0%,100%{
        box-shadow: 0px 0px 0px 0px rgba(246,50,50,0);
    }
    50%{
        box-shadow: 0px 0px 20px 0px rgba(246,59,50,0.75);
    }
}
.hoja-estampa-1 > p,
.hoja-estampa-2 > p{
    width: 100%;
    font-family: 'SpecialElite-Regular';
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}
.hoja-estampa-1 p{color: #0081C8;}
.hoja-estampa-2 p{color: #F63232;}

#hoja-sello-1,
#hoja-sello-2{
    position: absolute;
    width: 90%;
    height: auto;
    margin: 0px auto;
    transform-origin: 0% 0%;
}
#hoja-sello-1 img,
#hoja-sello-2 img{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
}
#hoja-sello-1 p,
#hoja-sello-2 p{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'SpecialElite-Regular';
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}

.hoja-sello-off{
    visibility: hidden;
}
.hoja-sello-1-on,
.hoja-sello-2-on{
    visibility: visible;
    animation-duration: 0.15s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
.hoja-sello-1-on{
    animation-name: animacion-sello-1;
}
@keyframes animacion-sello-1 {
    0%{
        opacity: 0;
        transform: scale(2) translate(-50%,-50%);
    }
    100%{
        opacity: 1;
        transform: scale(1) rotate(-5deg) translate(-50%,-50%);
    }
}
.hoja-sello-2-on{
    animation-name: animacion-sello-2;
}
@keyframes animacion-sello-2 {
    0%{
        opacity: 0;
        transform: scale(2) translate(-50%,-50%);
    }
    100%{
        opacity: 1;
        transform: scale(1) rotate(5deg) translate(-50%,-50%);
    }
}
.hoja-sello-1-onn{
    opacity: 1;
    visibility: visible;
    transform: scale(1) rotate(-5deg) translate(-50%,-50%);
}
.hoja-sello-2-onn{
    opacity: 1;
    visibility: visible;
    transform: scale(1) rotate(5deg) translate(-50%,-50%);
}

/*******************/
#pagina{
    position: absolute;
    width: 100%;
    left: 0px;
    transform-origin: left bottom;
}
#pagina-sombra{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #EDEDED;
    /*box-shadow: 0px -5px 20px 0px rgba(0,0,0,0.3) inset;*/
}

.pagina-out{
    visibility: hidden;
}
.pagina-in{
    visibility: visible;
    animation: animacion-pagina-1 2.5s 1 forwards;
}
@keyframes animacion-pagina-1 {
    0%{
        height: 0%;
        bottom: 0%;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
        animation-timing-function: ease-in-out;
    }
    70%{
        height: 100%;
        bottom: 100%;
        box-shadow: 0px -5px 20px 5px rgba(0,0,0,0.8);
        transform: rotate(-5deg);
    }
    100%{
        height: 100%;
        bottom: 150%;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
        transform: rotate(-45deg);
    }
}
.hoja-out{

}
.hoja-in{
    animation: animacion-hoja-1 2.5s 1 forwards;
}
@keyframes animacion-hoja-1 {
    0%{
        height: 100%;
        animation-timing-function: ease-in-out;
    }
    70%{
        height: 0%;
    }
    100%{
        height: 0%;
    }
}