#manual{
    position: absolute;
    width: 180px;
    height: 135px;
    bottom: 15%;
    right: 20px;
    transition: bottom 0.25s;
    perspective: 300px;
}
.manual-sombra{
    position: absolute;
    width: 80%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    filter: blur(2px);
    left: 10%;
    bottom: 15%;
    transform-origin: center bottom;
    transform: rotateX(62deg);
    opacity: 0;

    transition: width 0.25s, opacity 0.25s, bottom 0.25s, left 0.25s;
}
#manual img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.manual-img-over{
    opacity: 0;
    transition: opacity 0.25s;
}

#manual-container,
#instruccion,
#instruccion-back{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
#manual-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.65);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

#manual-container-box{
    position: relative;
    width: 65%;
    height: 80%;
    padding: 35px;
    border: #60300F solid 4px;
    background-color: #F4F1EA;
    border-radius: 8px;
}
#manual-container-close-btn{
    position: absolute;
    background-color: #FFDC00;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    border: none;
    top: 10px;
    right: 10px;

    transition: background-color 0.25s;
}
#manual-container-close-btn::after,
#manual-container-close-btn::before{
    position: absolute;
    content: "";
    width: 20px;
    height: 2px;
    border-radius: 2px;
    background-color: #000000;
    top: 50%;
    left: 50%;
}
#manual-container-close-btn::after{
    transform: translate(-50%,-50%) rotate(45deg);
}
#manual-container-close-btn::before{
    transform: translate(-50%,-50%) rotate(-45deg);
}

.manual-container-hoja{
    position: relative;
    width: 100%;
    height: 100%;
    padding-right: 5px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #666666 #F4F1EA;
}
.manual-container-hoja > h1{
    font-family: 'SpecialElite-Regular';
    font-size: 24px;
    color: #E20613;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}
.manual-container-hoja > h2{
    display: inline-block !important;
    font-family: 'SpecialElite-Regular';
    font-size: 21px;
    color: #000000;
    display: flex;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 5px 10px;
    background-color: #E0E0E0;
}
.manual-container-hoja > table{
    position: relative;
    width: 100%;
}
.manual-container-hoja > table,
.manual-container-hoja > table tr,
.manual-container-hoja > table td,
.manual-container-hoja > table th{
    box-sizing: border-box;
    border: none;
    border-collapse: collapse;
}
.manual-container-hoja > table tbody tr:nth-child(even){
    background-color: #E8E5DE;
}
.manual-container-hoja > table tbody tr:nth-child(odd){
    background-color: #EEECE7;
}
.manual-container-hoja > table th{
    background-color: #D9D4CA;
    padding: 5px 10px;
}
.manual-container-hoja > table td{
    padding: 5px 10px;
}
.manual-container-hoja > table th p{
    font-family: 'SpecialElite-Regular';
    font-size: 18px;
    color: #000000;
    text-align: left;
}
.manual-container-hoja > table td p{
    font-family: 'Helvetica';
    font-size: 16px;
    color: #66542A;
    text-align: left;
}


.manual-container-off{
    visibility: hidden;
}
.manual-container-on{
    visibility: visible;
}

#manual:hover{
    cursor: pointer;
    bottom: 16%;
    bottom: calc(15% + 20px);
    bottom: -moz-calc(15% + 20px);
}
#manual:hover .manual-sombra{
    width: 70%;
    left: 15%;
    bottom: 15%;
    bottom: calc(15% - 20px);
    bottom: -moz-calc(15% - 20px);
    opacity: 1;
}
#manual:hover .manual-img-over{
    opacity: 1;
}