#tiquete{
    position: absolute;
    width: 241px;
    height: 45px;
    bottom: 15%;
    left: 50%;
    left: calc(50% - 241px);
    left: -moz-calc(50% - 241px);
}

.tiquete-img-base,
.tiquete-img-mask{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0px;
}
.tiquete-img-mask{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}

#tiquetera-hoja-wrap{
    position: absolute;
    width: 82%;
    bottom: 41%;
    left: 9%;
    overflow: hidden;
    transform-origin: left bottom;
}

.tiquetera-hoja{
    position: relative;
    width: 100%;
    height: 205px;
}

.tiquetera-hoja-content-top,
.tiquetera-hoja-content-bottom{
    position: relative;
    width: 100%;
    height: 10px;
    margin: 0px;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.tiquetera-hoja-content-top{background-image: url(../images/tiquete-borde.png);}
.tiquetera-hoja-content-bottom{background-image: url(../images/tiquete-borde2.png);}

#tiquetera-hoja-content{
    position: relative;
    width: 100%;
    height: 185px;
    background-color: #FCFBE8;
    padding: 15px;
}
#tiquetera-hoja-content > h1,
#tiquetera-hoja-content > h2{
    color: #666666;
    text-align: center;
    width: 100%;
}
#tiquetera-hoja-content > h1{
    font-family: 'SpecialElite-Regular';
    font-size: 18px;
    margin-bottom: 10px;
}
#tiquetera-hoja-content > h2{
    font-family: 'Helvetica';
    font-size: 16px;
}
#tiquete-texto{
    margin: 0px;
    margin-top: 10px;
    width: 100%;
    font-family: 'Helvetica';
    font-size: 14px;
    color: #000000;
    text-align: center;
}
#tiquete-texto span{
    font-family: 'Helvetica-Bold';
    text-transform: uppercase;
    font-size: 15px;
}
.tiquete-texto-span-1{
    color: #0081C8;
}
.tiquete-texto-span-2{
    color: #F63232;
}

/***********/

.tiquetera-hoja-wrap-hide{
    height: 0px;
}
.tiquetera-hoja-wrap-out{
    height: 205px;
}
.tiquetera-hoja-wrap-out2{
    height: 205px;
    animation: animacion-tiquetera2-out 0.5s 3s 1 forwards ease-in;
}
@keyframes animacion-tiquetera2-out{
    0%{
        transform: rotate(0deg) translateY(0px);
        opacity: 1;
    }
    100%{
        transform: rotate(-30deg) translateY(-40px);
        opacity: 0;
    }
}
@keyframes animacion-tiquetera2-out-xl {
    0%{
        transform: rotate(0deg) translateY(0px);
        opacity: 1;
    }
    100%{
        transform: rotate(-30deg) translateY(-60px);
        opacity: 0;
    }
}

.tiquetera-hoja-wrap-out .tiquetera-hoja{
    animation: animacion-tiquetera-out 1s 1 forwards ease-out;
}
@keyframes animacion-tiquetera-out {
    0%{
        top: 100%;
    }
    100%{
        top: 10px;
    }
}
@keyframes animacion-tiquetera-out-xl {
        0%{
            top: 100%;
        }
        100%{
            top: 14px;
        }
    }
.tiquetera-hoja-wrap-out2 .tiquetera-hoja{
    top: 10px;
    animation: animacion-tiquetera22-out 0.2s 3s 1 forwards ease-out;
}
@keyframes animacion-tiquetera22-out {
    0%{
        top: 10px;
    }
    100%{
        top: 0px;
    }
}
@keyframes animacion-tiquetera22-out-xl {
        0%{
            top: 14px;
        }
        100%{
            top: 0px;
        }
    }